@import "~bootstrap";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap');


form fieldset {
    border: 1px solid #9f9f9f;
}

.bg-light {
        background-color: #f8f9fa !important;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 15px;
    }

