<template>
    <div class="row">
        <div class="col">
            <label for="partner_lastname">Partner lastname</label>
            <input type="text" v-model="partner_firstname" @change="emitChange" id="partner_lastname" class="form-control">
        </div>

        <div class="col">
            <label for="partner_firstname">Partner Lastname</label>
            <input type="text" v-model="partner_lastname" @change="emitChange" class="form-control " id="partner_firstname">
        </div>
    </div>
</template>

<script>
    export default {
        name: "Partner",

        data() {
            return {
                partner_firstname   : null,
                partner_lastname    : null
            }
        },
        methods: {
            emitChange() {
                this.$emit("input", {
                   partner_firstname    : this.$data.partner_firstname,
                   partner_lastname     : this.$data.partner_lastname
                });
            }
        }
    }
</script>
