<template>
    <div>
        <div class="container-fluid bg-primary pb-5">
            <div class="container">
                <h2>LDL Winterbar</h2>
                <p>Registreer u en uw familie hieronder om deel te nemen aan de LDL Winterbar 2019.</p>

                <div class="row">
                    <div class="col">
                        <label for="lastname">Lastname</label>
                        <input type="text" v-model="lastname" id="lastname" class="form-control">
                    </div>
                    <div class="col">
                        <label for="firstname">Firstname</label>
                        <input type="text" v-model="firstname" class="form-control " id="firstname">
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="street">Street</label>
                            <input type="text" v-model="street" class="form-control" id="street">
                        </div>

                        <div class="col">
                            <label for="no">Number</label>
                            <input type="text" v-model="no" class="form-control" id="no">
                        </div>

                        <div class="col">
                            <label for="bus">Bus</label>
                            <input type="text" v-model="bus" class="form-control" id="bus">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="zip">ZIP</label>
                            <input type="text" v-model="zip" class="form-control" id="zip">
                        </div>
                        <div class="col">
                            <label for="zip">City</label>
                            <input type="text" v-model="city" class="form-control" id="city">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="email">E-mail</label>
                            <input type="text" v-model="email" class="form-control" id="email">
                        </div>
                        <div class="col">
                            <label for="zip">Company</label>
                            <input type="text" v-model="company" class="form-control" id="company">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container pt-5">
        <div class="data_options mb-3">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <strong>Zal u aanwezig zijn samen met uw <span>partner</span>?</strong><br>
                        <label for="partner_no">
                            <input type="radio" id="partner_no" :value="false" v-model="partner">
                            Nee, ik kom alleen
                        </label><br>

                        <label for="partner_yes">
                            <input type="radio" id="partner_yes" :value="true" v-model="partner">
                            Ja, ik kom met partner
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div v-if="partner">
                        <partner @input="fetchParentData"></partner>
                    </div>
                </div>
            </div>
        </div>

        <div class="container pt-5">
            <div class="data_options mb-3">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <strong>Zal u aanwezig zijn samen met uw <span>kinderen</span>?</strong><br>
                            <label for="children_no">
                                <input type="radio" id="children_no" :value="false" v-model="children">
                                Nee, ik kom alleen
                            </label><br>

                            <label for="children_yes">
                                <input type="radio" id="children_yes" :value="true" v-model="children">
                                Ja, ik kom met kind(eren)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" v-if="children">
                        <div v-for="child in children_data" class="child">
                            <strong>{{ child.child_firstname }}</strong>
                            <strong>{{ child.child_lastname }}</strong>
                            <strong>{{ child.child_age }}</strong>
                        </div>

                        <child @input="fetchChildData"></child>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="data_options mb-3">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="gdpr"></label>
                            <input type="checkbox" v-model="gdpr" value="1" id="gdpr">&nbsp;U gaat akkoord met ons <strong>privacy beleid</strong>?
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="data_options mb-3">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="submit" @click="onsubmit" value="Verzeden" class="btn btn-block btn-outline-primary float-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import Partner from "./Partner";
    import Child from "./Children/Child";

    export default {
        name: "Registration",

        data() {
            return {
                lastname                : 'Kennes',
                firstname               : 'Ward',
                street                  : 'Binnenweg',
                no                      : '25',
                bus                     : null,
                zip                     : '2570',
                city                    : 'Duffel',
                email                   : 'ward@ldl.be',
                company                 : 'LDL Communication',
                partner                 : false,
                partner_data            : [],
                children                : false,
                children_data           : [],
                logo                    : null,
                gdpr                    : null
            }
        },
        methods: {
            fetchParentData(val) {
                this.partner_data = val
            },
            fetchChildData(val) {
                this.children_data.push(val);
            },
            onsubmit () {

                //
                // Front-end validation should be applied but this is a testcase w/o.
                //

                this.$http.post('register',  {
                    lastname: this.lastname,
                    firstname: this.firstname,
                    street: this.street,
                    no: this.no,
                    bus: this.bus,
                    zip: this.zip,
                    city: this.city,
                    email: this.email,
                    company: this.company,
                    partner_data: this.partner_data,
                    children_data: this.children_data,
                }).then((response) => {
                    console.log(response);
                }).catch((error) => {
                    console.log(error);
                })
            }
        },
        mounted() {
            console.log('Mounted registration component.');
        },
        components: {
            'partner'   : Partner,
            'child'     : Child
        }
    }
</script>

<style scoped lang="scss">
    .child {
        border-radius: 8px;
        padding: 15px 15px;
        background: #9dc1d4;
        color: #ffffff;
        font-weight: 100;
        margin-bottom: 8px;

    }

</style>
