@import "~bootstrap";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap');


// Colors
$gray: #3B424F;
$gray-soft: #F9F9F9;
$blue: #4092CE;

.bg-primary {
    background-color: $blue !important;
    color: white !important;
}

.btn-outline-primary {
    border-color: $blue;
    color: $blue;
    &:hover {
        background-color: $blue;
        color: white;
    }
}

strong span {
    color: $blue;
}

html, body {
    font-family: "Montserrat", Arial;
    background: $gray-soft;
}


.data_options {
    border: 1px solid #efefef;
    border-radius: 11px;
    padding: 15px;
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);

}
