<template>
    <div>
        <div class="container">
            <div v-if="errors" class="row errors">
                <div v-for="error in errors" class="alert alert-danger d-block w-100">
                    <p>{{ error }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="text" v-model="child_firstname" placeholder="Firstname child" class="form-control" autocomplete="off">
            </div>
            <div class="col">
                <input type="text" v-model="child_lastname" placeholder="Lastname child" class="form-control" autocomplete="off">
            </div>
            <div class="col">
                <input type="text" v-model="child_age" placeholder="Age child" class="form-control" autocomplete="off">
            </div>
        </div>
        <div class="row">
            <div class="col clearfix">
                <button @click.prevent="emitChild" class="btn btn-outline-dark float-right">Add Child</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Child",

        data() {
            return {
                errors: [],
                counter: 0,
                child_firstname : null,
                child_lastname : null,
                child_age : null
            }
        },

        methods: {
            emitChild() {


                if(this.child_firstname === null) {
                    this.errors.push('Gelieve een voornaam op te geven');
                 }

                if(this.child_lastname === null) {
                    this.errors.push('Gelieve een achternaam op te geven');
                }

                if(this.child_age === null) {
                    this.errors.push('Gelieve een leeftijd op te geven');
                }

                if(this.errors.length > 0) {
                    // There are errors...
                } else {
                    this.$emit("input", {
                        child_firstname     : this.$data.child_firstname,
                        child_lastname      : this.$data.child_lastname,
                        child_age           : this.$data.child_age
                    });

                    this.child_firstname = null;
                    this.child_lastname = null;
                    this.child_age = null;
                }

                // RESET
                // this.errors = [];


            }
        }
    }
</script>

<style scoped>

</style>
